.home {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
}

.wrap {
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pagin {
    margin: 20px auto;
}