.section {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: sticky;
    height: 100%;
    top: 20px;
    left: 0;
}

.h2 {
    margin-bottom: 24px;
}

button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 12px 20px;
    margin-bottom: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-align: left;
    font-size: 16px;
}

button:hover {
    background-color: #eaeaea;
    border-color: #bbb;
}

button:focus,
button.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

select {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

select:hover {
    background-color: #eaeaea;
}

select:disabled {
    background-color: #f1f1f1;
    color: #999;
    cursor: not-allowed;
}

select:focus {
    border-color: #333;
    outline: none;
}