.productDetail {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.productImg {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
    object-fit: contain;
    border-radius: 10px;
}

.details {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.price {
    font-size: 24px;
    color: #e74c3c;
    font-weight: bold;
}

.discount {
    font-size: 18px;
    color: #27ae60;
    font-weight: bold;
}

.details p {
    margin: 5px 0;
}

.wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.price {
    font-size: 15px;
    color: grey;
    text-decoration: line-through;
}

.span {
    color: #27ae60;
}

.discountPrice {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.discountLabel {
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 5px;

}

.off {
    color: black;
    font-weight: bold;
    margin-left: -10px;
}

.wrapText {
    margin-top: 20px;
    margin-bottom: 20px;
}


.brand,
.model {
    display: flex;
    gap: 27px;
    font-weight: bold;
}

.color {
    display: flex;
    gap: 31px;
    font-weight: bold;
}

.textSpan {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 15px;
}

.desrcTitle {
    font-weight: bold;
}

@media (max-width: 700px) {
    .productDetail {
        flex-direction: column;
        align-items: center;
    }

    .details {
        margin-top: 30px;
        width: 80%;
    }

}